/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('https://media.tycsports.com/files/2022/12/19/517634/lionel-messi_1440x810_wmk.webp?v=1');
    background-size: cover;
    background-attachment: fixed;
    color: white;
  }
  
  header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
  }
  
  header::before {
    content: "";
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
  }
  
  main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section {
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  h1, h2 {
    color: gold;
  }
  
  h3 {
    color: lightgray;
  }
  
  p, ul, li {
    color: white;
  }
  
  a {
    color: lightblue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .trophy-icon {
    max-width: 28px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  .premios-icon {
    max-width: 28px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }

  .cancha-icon {
    max-width: 28px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }

  .pelota-icon {
    max-width: 28px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }